<footer class="site-footer h-card border-t py-8">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper max-w-3xl mx-auto px-8">

    <h2 class="footer-heading text-lg mb-4">{{ site.title | escape }}</h2>

    <div class="footer-cols grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-sm">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email hover:underline" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col">
        {%- include social.html -%}
      </div>

      <div class="footer-col">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
