---
layout: default
---
<div class="home site-width">
  <div class="prose prose-xl mx-auto">
    <h1 class="page-heading text-3xl sr-only">{{ page.title }}</h1>
    <div class="mb-0 min-h-0 max-h-64 py-2 flex items-center space-x-6" aria-hidden="true">
      <img src="{{ "/assets/images/atra_logo.png" | relative_url }}" class="max-h-64 w-auto object-contain">
      <img src="{{ "/assets/images/atra_logo-name.svg" | relative_url }}" class="max-h-32 w-auto object-contain">
    </div>
    {{ content }}

    <div class="flex flex-col sm:flex-row gap-4 mt-8 justify-between">
      <div class="order-2 sm:order-none"><a href="/connect" class="w-full sm:w-auto inline-block text-center bg-transparent hover:bg-[#5E4B80] text-[#5E4B80] font-semibold hover:text-white no-underline not-prose py-3 px-12 border border-[#5E4B80] hover:border-transparent rounded-lg shadow-md transition duration-300 ease-in-out hover:scale-105">Connect With Us</a></div>
      <div class="order-1 sm:order-none"><a href="https://docs.google.com/document/d/1-efFWozkkVVjsfw-s0fPoLhZ_7EWB7xLfVnSFdE_oxg" class="w-full sm:w-auto inline-block text-center bg-[#5E4B80] hover:bg-[#4A3C63] text-white font-bold no-underline not-prose py-3 px-12 rounded-lg shadow-lg transition duration-300 ease-in-out hover:scale-105">Read our Request</a></div>
    </div>
  </div>


  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading text-2xl">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list list-none ml-0">
      {%- for post in site.posts -%}
      <li class="mb-8">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta text-sm">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link block text-xl hover:underline" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a class="hover:underline" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->
</div>
